<xf:title>{{ phrase('xfh_hide_hidden_content_by_number_of_posts') }}</xf:title>

<form class="block" id="xfh_hide_editor_posts_form">
	<div class="block-container">
		<div class="block-body">
			<xf:numberboxrow id="xfh_hide_editor_posts_count"
							 value="0"
							 min="1"
							 label="{{ phrase('xfh_hide_enter_posts_count') }}"
							 required="true"/>
			
			<xf:editorrow id="xfh_hide_editor_posts_text"
				label="{{ phrase('xfh_hide_enter_hidden_content') }}" />
		</div>
		
		<xf:submitrow submit="{{ phrase('continue') }}" />
	</div>
</form>